{% extends "base.html" %}

{% block title %}Clients{% endblock %}

{% block nav_links %}
    <a class="nav-link" href="/feeds/">Feeds</a>
    <a class="nav-link active" aria-current="page" href="/client/">Clients</a>
    <a class="nav-link" href="/torrent/">Torrents</a>
    <a class="nav-link" href="/once/">Once</a>
{% endblock %}

{% block content %}
    <h1>Clients</h1>
    <nav class="d-flex justify-content-between" aria-label="Page navigation">
        <div>
            <a class="btn btn-primary" href="{% url 'client-add' %}">Add</a>
        </div>
        <div>
            {% include 'pagenav.html' %}
        </div>
    </nav>

    {% if clients %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Url</th>
            </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr>
                    <td><a href="{% url 'client-update' pk=client.pk %}">{{ client.name }}</a></td>
                    <td>{{ client.protocol }}://{{ client.host }}:{{ client.port }}{{ client.rpc_path }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Add a Transmission client for mission-commander to control.</p>
    {% endif %}
{% endblock %}
