{% extends "base.html" %}

{% block title %}Update client{% endblock %}

{% block nav_links %}
    <a class="nav-link" href="/feeds/">Feeds</a>
    <a class="nav-link active" aria-current="page" href="/client/">Clients</a>
    <a class="nav-link" href="/torrent/">Torrents</a>
    <a class="nav-link" href="/once/">Once</a>
{% endblock %}

{% block content %}
    <h1>Update client</h1>
    <form method="post">
        <div>
            {% csrf_token %}
            {{ form }}
            <div>
                <a class="button danger" href="{% url 'client-delete' pk=transmissionclient.pk %}">Delete</a>
                <input type="submit" value="Update">
            </div>
        </div>
    </form>
{% endblock %}
