services:
  redis:
    image: redis:latest
    healthcheck:
      test: redis-cli ping
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s
    restart: unless-stopped

  postgres:
    image: postgres:latest
    healthcheck:
      test: pg_isready
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
    volumes:
      - postgres:/var/lib/postgresql/data
    restart: unless-stopped

  database-migration:
    image: mission-commander:latest
    environment:
      SECRET_KEY: $SECRET_KEY
      DATABASE_URL: "psql://postgres:postgres@postgres:5432/postgres"
      CELERY_BROKER_URL: "redis://redis:6379"
    command: python manage.py migrate
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  collect-static-files:
    image: mission-commander:latest
    environment:
      SECRET_KEY: $SECRET_KEY
      DATABASE_URL: "psql://postgres:postgres@postgres:5432/postgres"
      CELERY_BROKER_URL: "redis://redis:6379"
    command: python manage.py collectstatic --noinput
    volumes:
      - staticfiles:/app/static
    depends_on:
      database-migration:
        condition: service_completed_successfully
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  web:
    env_file: .env
    image: mission-commander:latest
    environment:
      SECRET_KEY: $SECRET_KEY
      DATABASE_URL: "psql://postgres:postgres@postgres:5432/postgres"
      CELERY_BROKER_URL: "redis://redis:6379"
    ports:
      - "8000:8000"
    command: poetry run gunicorn mc.wsgi -b 0.0.0.0:8000
    volumes:
      - staticfiles:/code/static
    depends_on:
      collect-static-files:
        condition: service_completed_successfully
      database-migration:
        condition: service_completed_successfully
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: unless-stopped

  worker:
    env_file: .env
    image: mission-commander:latest
    environment:
      SECRET_KEY: $SECRET_KEY
      DATABASE_URL: "psql://postgres:postgres@postgres:5432/postgres"
      CELERY_BROKER_URL: "redis://redis:6379"
    command: celery -A mc worker --concurrency 1
    depends_on:
      database-migration:
        condition: service_completed_successfully
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: unless-stopped

  beat:
    env_file: .env
    image: mission-commander:latest
    environment:
      SECRET_KEY: $SECRET_KEY
      DATABASE_URL: "psql://postgres:postgres@postgres:5432/postgres"
      CELERY_BROKER_URL: "redis://redis:6379"
    command: celery -A mc beat --scheduler django_celery_beat.schedulers:DatabaseScheduler
    depends_on:
      database-migration:
        condition: service_completed_successfully
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: unless-stopped

volumes:
  postgres:
    driver: local
  staticfiles:
    driver: local
