{% extends "base.html" %}

{% block title %}Torrents{% endblock %}

{% block content %}
    <h1>Torrents</h1>
    <div class="topbar">
        <ul class="actions">
            <li></li>
        </ul>
        <ul class="paginator">
            {% if page_obj.has_previous %}
                <li><a href="?page=1">&laquo; first</a></li>
                <li><a href="?page={{ page_obj.previous_page_number }}">previous</a></li>
            {% else %}
                <li><span>&laquo; first</span></li>
                <li><span>previous</span></li>
            {% endif %}
            <li><span>{{ page_obj.number }}/{{ page_obj.paginator.num_pages }}</span></li>
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">next</a></li>
                <li><a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
            {% else %}
                <li><span>next</span></li>
                <li><span>last &raquo;</span></li>
            {% endif %}
        </ul>
    </div>
    {% if torrents %}
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Published</th>
                <th>Added</th>
            </tr>
            </thead>
            <tbody>
            {% for torrent in torrents %}
                <tr>
                    <td><a href="{% url 'torrent-detail' pk=torrent.pk %}">{{ torrent.title }}</a></td>
                    <td>{{ torrent.published|date:"n. j. Y H:i" }}</td>
                    <td>{{ torrent.created_at|date:"n. j. Y H:i" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>List of Torrents that have been seen by mission-commander.</p>
    {% endif %}
{% endblock %}
