{% extends "base.html" %}

{% block title %}Torrent details{% endblock %}

{% block nav_links %}
    <a class="nav-link" href="/feeds/">Feeds</a>
    <a class="nav-link" href="/client/">Clients</a>
    <a class="nav-link active" aria-current="page" href="/torrent/">Torrents</a>
    <a class="nav-link" href="/once/">Once</a>
{% endblock %}

{% block content %}
    <h1>Torrent details</h1>
    <p><b>Title:</b> {{ torrent.title }}</p>
    <p><b>Published:</b> {{ torrent.published }}</p>
    <p><b>Link:</b> <a href="{{ torrent.link }}">{{ torrent.link }}</a></p>
    <div>
    <a class="btn btn-primary" href="{% url 'torrent-update' pk=torrent.id %}">Update</a>
    </div>
{% endblock %}
