{% extends "base.html" %}

{% block title %}Torrent details{% endblock %}

{% block nav_links %}
    <a class="nav-link" href="/feeds/">Feeds</a>
    <a class="nav-link" href="/client/">Clients</a>
    <a class="nav-link active" aria-current="page" href="/torrent/">Torrents</a>
    <a class="nav-link" href="/once/">Once</a>
{% endblock %}

{% block content %}
    <h1>Torrent details</h1>
    <table>
        <thead></thead>
        <tbody>
        <tr>
            <td>Title</td>
            <td>{{ torrent.title }}</td>
        </tr>
        <tr>
            <td>Published</td>
            <td>{{ torrent.published }}</td>
        </tr>
        <tr>
            <td>Link</td>
            <td><a href="{{ torrent.link }}">{{ torrent.link }}</a></td>
        </tr>
        </tbody>
    </table>
{% endblock %}
