{% extends "base.html" %}

{% block title %}Torrents{% endblock %}

{% block nav_links %}
    <a class="nav-link" href="/feeds/">Feeds</a>
    <a class="nav-link" href="/client/">Clients</a>
    <a class="nav-link active" aria-current="page" href="/torrent/">Torrents</a>
    <a class="nav-link" href="/once/">Once</a>
{% endblock %}

{% block content %}
    <h1>Torrents</h1>
    <nav class="d-flex justify-content-between" aria-label="Page navigation">
        <div>
            <a class="btn btn-primary disabled" href="{% url 'torrent-add' %}">Add</a>
        </div>
        <div>
            {% include 'pagenav.html' %}
        </div>
    </nav>

    {% if torrents %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Published</th>
                <th scope="col">Added</th>
            </tr>
            </thead>
            <tbody>
            {% for torrent in torrents %}
                <tr>
                    <td><a href="{% url 'torrent-detail' pk=torrent.pk %}">{{ torrent.title }}</a></td>
                    <td>{{ torrent.published|date:"n. j. Y H:i" }}</td>
                    <td>{{ torrent.created_at|date:"n. j. Y H:i" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>List of Torrents that have been seen by mission-commander.</p>
    {% endif %}
{% endblock %}
