{% extends "base.html" %}

{% block title %}Add once{% endblock %}

{% block nav_links %}
    <a class="nav-link" href="/feeds/">Feeds</a>
    <a class="nav-link" href="/client/">Clients</a>
    <a class="nav-link" href="/torrent/">Torrents</a>
    <a class="nav-link active" aria-current="page" href="/once/">Once</a>
{% endblock %}

{% block content %}
    <h1>Add once</h1>
    <form method="post">
        <div>
            {% csrf_token %}
            {{ form }}
            <input class="btn btn-primary" type="submit" value="Add">
        </div>
    </form>
{% endblock %}
