{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="{% static 'main.js' %}"></script>
{% endblock %}

{% block title %}Add once{% endblock %}

{% block content %}
    <h1>Add once</h1>
    <form method="post">
        <div>
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Add">
        </div>
    </form>
{% endblock %}
