html body {
    font-family: 'Lucida Grande', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

nav ul li {
    float: left;
    color: white;
}

nav ul li.right {
    float: right;
}

nav ul li a, nav ul li p {
    padding: 14px 16px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 0;
}

nav ul li a:hover {
    background-color: darkolivegreen;
}

main {
    padding: 0 20px;
}

main h1 {
    color: darkolivegreen;
}

form div {
    width: 400px;
}

input[type=text],
input[type=password],
input[type=url],
select {
    background-color: white;
    width: 100%;
    border: 1px solid black;
    padding: 10px 14px;
    margin: 0 0 14px;
    box-sizing: border-box;
    outline: none;
    font-size: 1em;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=url]:focus,
select:focus {
    background-color: aliceblue;
}

input[type=submit], a.button {
    background-color: black;
    border: none;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    font-size: 1em;
    display: inline-block;
}

input[type=submit]:hover, a.button:hover {
    background-color: darkolivegreen;
}

div.topbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

ul.actions,
ul.paginator {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

ul.actions li,
ul.paginator li {
    color: white;
    background-color: black;
    list-style-type: none;
}

ul.actions li a,
ul.actions li span,
ul.paginator li a,
ul.paginator li span {
    padding: 14px 16px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 0;
}

ul.actions li a:hover,
ul.paginator li a:hover {
    background-color: darkolivegreen;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid black;
    padding: 8px;
}

table th {
    text-align: left;
    background-color: darkolivegreen;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

input[type=submit] {
    float: right;
}

h1.danger {
    color: crimson;
}

input[type=submit].danger, a.button.danger {
    background-color: crimson;
}

ul.errorlist {
    border: 1px solid darkred;
    background-color: #ffefef;
    padding: 8px;
    border-radius: 6px;
    color: darkred;
}

ul.errorlist li {
    list-style-type: none;
}

/* The container */
.container {
    display: flex;
    position: relative;
    padding-left: 35px;
    margin-bottom: 14px;
    cursor: pointer;
    /*font-size: 22px;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 25px;
    align-items: center;
}

.label {
    display: inline-block;
    vertical-align: middle;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: darkolivegreen;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
