[Unit]
Description=mission-commander web
After=network.target
Requires=postgresql.service

[Service]
User=root
Group=root
WorkingDirectory=/root/mission-commander
EnvironmentFile=/root/mission-commander/.env
ExecStart=/usr/bin/uv run celery -A mc beat --scheduler django_celery_beat.schedulers:DatabaseScheduler

[Install]
WantedBy=multi-user.target
