[Unit]
Description=mission-commander web
After=network.target
Requires=postgresql.service

[Service]
User=root
Group=root
WorkingDirectory=/root/mission-commander
EnvironmentFile=/root/mission-commander/.env
ExecStart=/usr/bin/uv run celery -A mission_commander worker --concurrency 1

[Install]
WantedBy=multi-user.target
