{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="{% static 'main.js' %}"></script>
{% endblock %}

{% block title %}Add feed{% endblock %}

{% block nav_links %}
    <a class="nav-link active" aria-current="page" href="/feeds/">Feeds</a>
    <a class="nav-link" href="/client/">Clients</a>
    <a class="nav-link" href="/torrent/">Torrents</a>
    <a class="nav-link" href="/once/">Once</a>
{% endblock %}

{% block content %}
    <h1>Add feed</h1>
    <form method="post">
        <div>
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Add">
        </div>
    </form>
{% endblock %}
