{% extends "base.html" %}

{% load humanize %}

{% block title %}Feeds{% endblock %}

{% block nav_links %}
    <a class="nav-link active" aria-current="page" href="/feeds/">Feeds</a>
    <a class="nav-link" href="/client/">Clients</a>
    <a class="nav-link" href="/torrent/">Torrents</a>
    <a class="nav-link" href="/once/">Once</a>
{% endblock %}

{% block content %}
    <h1>Feeds</h1>
    <nav aria-label="Page navigation example">
        <a class="btn btn-primary" href="{% url 'feed-add' %}">Add</a>
        <a class="btn btn-primary" href="{% url 'feed-check' %}">Check now</a>
        <ul class="pagination justify-content-end">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            {% endif %}
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
            {% endif %}
            <li class="page-item active"><a class="page-link" href="?page={{ page_obj.number }}" aria-current="page">{{ page_obj.number }}</a></li>
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
            {% endif %}
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
            {% endif %}
        </ul>
    </nav>

    {% if feeds %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Enabled</th>
                <th scope="col">Added</th>
                <th scope="col">Last check</th>
                <th scope="col">Last torrent</th>
            </tr>
            </thead>
            <tbody>
            {% for feed in feeds %}
                <tr>
                    <td><a href="{% url 'feed-update' pk=feed.pk %}">{% firstof feed.name feed.pk %}</a></td>
                    <td>{{ feed.enabled|yesno:"Yes,No" }}</td>
                    <td>{{ feed.created_at|naturaltime|default_if_none:"never" }}</td>
                    <td>{{ feed.last_activity|naturaltime|default_if_none:"never" }}</td>
                    <td>{{ feed.last_added|naturaltime|default_if_none:"never" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Add a Feed for mission-commander to periodically check.</p>
    {% endif %}
{% endblock %}
