{% extends "base.html" %}

{% load humanize %}

{% block title %}Feeds{% endblock %}

{% block nav_links %}
    {% include "navlinks.html" with active='feed' %}
{% endblock %}

{% block content %}
    <h1>Feeds</h1>
    <nav class="d-flex justify-content-between" aria-label="Page navigation">
        <div>
            <a class="btn btn-primary" href="{% url 'feed-add' %}">Add</a>
            <a class="btn btn-primary" href="{% url 'feed-check' %}">Check now</a>
        </div>
        <div>
            {% include 'pagenav.html' %}
        </div>
    </nav>

    {% if feeds %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Enabled</th>
                <th scope="col">Added</th>
                <th scope="col">Last check</th>
                <th scope="col">Last torrent</th>
            </tr>
            </thead>
            <tbody>
            {% for feed in feeds %}
                <tr>
                    <td><a href="{% url 'feed-update' pk=feed.pk %}">{% firstof feed.name feed.pk %}</a></td>
                    <td>{{ feed.enabled|yesno:"Yes,No" }}</td>
                    <td>{{ feed.created_at|naturaltime|default_if_none:"never" }}</td>
                    <td>{{ feed.last_activity|naturaltime|default_if_none:"never" }}</td>
                    <td>{{ feed.last_added|naturaltime|default_if_none:"never" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Add a Feed for mission-commander to periodically check.</p>
    {% endif %}
{% endblock %}
